Repository AndreasZeissner/cosmo-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: studio, monorepo, cli, router, connect, protocol, controlplane, graphqlmetrics, aws-lambda-router

perf: remove usused seed call
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

removed: kafka
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

chore: release helm-cosmo 0.24.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Labels: none

chore: update helm docs and prepare release
  helm/cosmo/README.md
Labels: none

fix: test
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

fix: test
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

feat: added some new cool feature
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

security: this changes some version to address fix x.y.z
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

refactor: helm test
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

deps: update helm chart deps
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

perf: remove usused seed call
  helm/cosmo/charts/controlplane/templates/delete-user.yaml
Labels: none

chore: add test ci script
  .github/workflows/test-ci.yaml
Labels: none

chore: add proper version
  .github/workflows/test-ci.yaml
Labels: none

chore: debug
  .github/workflows/test-ci.yaml
Labels: none

chore: add checkout
  .github/workflows/test-ci.yaml
Labels: none

chore: test acctest
  .github/workflows/terraform-provider-ci.yaml
Labels: none

chore: remove test ci
  .github/workflows/test-ci.yaml
Labels: none

chore: run generate-go
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
Labels: router

chore: trigger
  .github/workflows/terraform-provider-ci.yaml
Labels: none

chore: fmt formats buf files
  terraform-provider/gen/proto/wg/cosmo/platform/v1/platform.pb.go
Labels: none

chore: test ci with examples
  .github/workflows/terraform-provider-ci.yaml
  terraform-provider/examples/Makefile
Labels: none

chore: typo
  .github/workflows/terraform-provider-ci.yaml
Labels: none

chore: release helm-cosmo-router 0.9.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
Labels: none

chore: update helm docs and prepare release
  helm/cosmo/charts/router/README.md
Labels: none

feat: test release
  terraform-provider/internal/acceptance/testing.go
Labels: none

chore: release terraform-provider-cosmo 0.1.0 🚀
  .release-please-manifest.json
  terraform-provider/CHANGELOG.md
Labels: none

chore: update pipeline
  .github/workflows/helm-release.yaml
Labels: none

feat: test
  terraform-provider/internal/acceptance/testing.go
Labels: none

chore: release terraform-provider-cosmo 0.2.0 🚀
  .release-please-manifest.json
  terraform-provider/CHANGELOG.md
Labels: none

chore: troubleshoot
  .github/workflows/helm-release.yaml
  release-please-config.json
Labels: none

feat: test
  terraform-provider/internal/acceptance/testing.go
Labels: none

chore: fix tag
  .github/workflows/helm-release.yaml
Labels: none

chore: release terraform-provider-cosmo 0.3.0 🚀
  .release-please-manifest.json
  terraform-provider/CHANGELOG.md
Labels: none

chore: troubleshoot
  .github/actions/terraform-provider-release/action.yaml
Labels: none

feat: foo
  terraform-provider/internal/acceptance/testing.go
Labels: none

chore: release terraform-provider-cosmo 0.4.0 🚀
  .release-please-manifest.json
  terraform-provider/CHANGELOG.md
Labels: none

chore: test
  .github/workflows/helm-release.yaml
  .github/workflows/terraform-provider-ci.yaml
  .release-please-manifest.json
  Makefile
  buf.terraform-provider.go.gen.yaml
  release-please-config.json
Labels: monorepo

chore: release helm-cosmo 0.12.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Labels: none

chore: update helm docs and prepare release
  helm/cosmo/README.md
Labels: none

.github/labeler.yml:

studio:
  - changed-files:
    - any-glob-to-any-file:
      - 'studio/**/*'

monorepo:
  - changed-files:
    - any-glob-to-any-file:
      - "pnpm-lock.yaml"
      - "pnpm-workspace.yaml"
      - "package.json"
      - "Makefile"

cli:
  - changed-files:
    - any-glob-to-any-file:
      - "cli/**/*"

router:
  - changed-files:
    - any-glob-to-any-file:
      - "router/**/*"

connect:
  - changed-files:
    - any-glob-to-any-file:
      - "connect/**/*"

protocol:
  - changed-files:
    - any-glob-to-any-file:
      - "proto/**/*"

controlplane:
  - changed-files:
    - any-glob-to-any-file:
      - "controlplane/**/*"

graphqlmetrics:
  - changed-files:
    - any-glob-to-any-file:
      - "graphqlmetrics/**/*"

aws-lambda-router:
  - changed-files:
    - any-glob-to-any-file:
      - "aws-lambda-router/**/*"
